# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Streamlit logs
.streamlit/

# Local secrets
secrets/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# notebook files
*.ipynb

# Earth Engine credentials
ee-service-account.json