# Minimal runtime requirements for deploying the app to Streamlit
streamlit==1.28.0
earthengine-api==0.1.375
geemap==0.36.4
oauth2client==4.1.3
folium==0.14.0
branca==0.6.0
# optional but useful for Streamlit+folium integration
streamlit-folium==0.25.3